.elementor-29378
  .elementor-element.elementor-element-937a39f:not(.elementor-motion-effects-element-type-background),
.elementor-29378
  .elementor-element.elementor-element-937a39f
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
  background-image: url("./Regina.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-29378
  .elementor-element.elementor-element-937a39f
  > .elementor-background-overlay {
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-29378 .elementor-element.elementor-element-937a39f {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-29378
  .elementor-element.elementor-element-661d053
  .elementor-spacer-inner {
  height: 50px;
}
.elementor-29378
  .elementor-element.elementor-element-1cdcb0d
  .elementor-spacer-inner {
  height: 50px;
}
.elementor-29378
  .elementor-element.elementor-element-b4bba0f
  .elementor-spacer-inner {
  height: 50px;
}
.elementor-29378
  .elementor-element.elementor-element-2829ab1:not(.elementor-motion-effects-element-type-background),
.elementor-29378
  .elementor-element.elementor-element-2829ab1
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff00;
}
.elementor-29378 .elementor-element.elementor-element-2829ab1 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-29378
  .elementor-element.elementor-element-2829ab1
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-29378
  .elementor-element.elementor-element-f9dea34
  .elementor-spacer-inner {
  height: 10px;
}
.elementor-29378
  .elementor-element.elementor-element-224ddb5
  > .elementor-element-populated,
.elementor-29378
  .elementor-element.elementor-element-224ddb5
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-29378
  .elementor-element.elementor-element-224ddb5
  > .elementor-background-slideshow {
  border-radius: 27px 27px 27px 27px;
}
.elementor-29378
  .elementor-element.elementor-element-71bb835
  > .elementor-widget-container {
  background-color: #ffffff00;
  border-radius: 49px 49px 49px 49px;
}
.elementor-29378
  .elementor-element.elementor-element-71bb835.ha-has-bg-overlay
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-29378
  .elementor-element.elementor-element-b98158b
  .elementor-spacer-inner {
  height: 10px;
}
.elementor-29378
  .elementor-element.elementor-element-ae23e1f
  .elementor-spacer-inner {
  height: 50px;
}
.elementor-29378
  .elementor-element.elementor-element-e6cd6a2:not(.elementor-motion-effects-element-type-background),
.elementor-29378
  .elementor-element.elementor-element-e6cd6a2
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #b6b6b670;
}
.elementor-29378 .elementor-element.elementor-element-e6cd6a2 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-29378
  .elementor-element.elementor-element-e6cd6a2
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-29378
  .elementor-element.elementor-element-439a1d8
  .elementor-spacer-inner {
  height: 50px;
}
.elementor-29378 .elementor-element.elementor-element-9f1c835 {
  column-gap: 0px;
  text-align: center;
  color: #555555;
  font-family: "Allura", Sans-serif;
  font-size: 46px;
  font-weight: 100;
  line-height: 1.3em;
}
.elementor-29378
  .elementor-element.elementor-element-1ee9eea
  .elementor-spacer-inner {
  height: 50px;
}
.elementor-29378
  .elementor-element.elementor-element-81cb30b
  .elementor-spacer-inner {
  height: 50px;
}
.elementor-29378
  .elementor-element.elementor-element-2512393:not(.elementor-motion-effects-element-type-background),
.elementor-29378
  .elementor-element.elementor-element-2512393
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
  background-image: url("https://www.smartinvite.site/wp-content/uploads/2021/07/flower-6206230_1920.jpg");
  background-position: center left;
  background-repeat: repeat;
  background-size: cover;
}
.elementor-29378
  .elementor-element.elementor-element-2512393
  > .elementor-background-overlay {
  background-color: #ffffff;
  opacity: 0.23;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-29378 .elementor-element.elementor-element-2512393 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-29378
  .elementor-element.elementor-element-af0e275
  .elementor-spacer-inner {
  height: 50px;
}
.elementor-29378 .elementor-element.elementor-element-0d34b04 {
  column-gap: 0px;
  text-align: center;
  color: #555555;
  font-family: "Allura", Sans-serif;
  font-size: 59px;
  font-weight: 100;
  text-transform: none;
  line-height: 1.3em;
}
.elementor-29378 .elementor-element.elementor-element-eb466ea {
  column-gap: 0px;
  text-align: center;
  color: #ab972d;
  font-family: "Allura", Sans-serif;
  font-size: 71px;
  font-weight: 100;
  line-height: 1.3em;
}
.elementor-29378 .elementor-element.elementor-element-afb2bd5 {
  column-gap: 0px;
  text-align: center;
  color: #555555;
  font-family: "Voces", Sans-serif;
  font-size: 26px;
  font-weight: 100;
  text-transform: none;
  line-height: 1.3em;
}
.elementor-29378
  .elementor-element.elementor-element-37a033b
  .uc_countdown_amount {
  font-family: "Voces", Sans-serif;
  font-size: 40px;
  font-weight: normal;
}
.elementor-29378
  .elementor-element.elementor-element-37a033b
  .uc_countdown_period {
  font-family: "Voces", Sans-serif;
  font-size: 18px;
}
.elementor-29378
  .elementor-element.elementor-element-87195dc
  .elementor-spacer-inner {
  height: 100px;
}
.elementor-29378
  .elementor-element.elementor-element-3f968230:not(.elementor-motion-effects-element-type-background),
.elementor-29378
  .elementor-element.elementor-element-3f968230
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-29378
  .elementor-element.elementor-element-3f968230
  > .elementor-background-overlay {
  opacity: 0;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-29378 .elementor-element.elementor-element-3f968230 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-29378 .elementor-element.elementor-element-31384848 {
  column-gap: 0px;
  text-align: center;
  color: #ab972d;
  font-family: "Allura", Sans-serif;
  font-size: 45px;
  font-weight: 100;
  line-height: 1.3em;
}
.elementor-29378
  .elementor-element.elementor-element-68d917c3:not(.elementor-motion-effects-element-type-background),
.elementor-29378
  .elementor-element.elementor-element-68d917c3
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
  background-image: url("https://www.smartinvite.site/wp-content/uploads/2021/07/flower-6206229_1920-1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-29378
  .elementor-element.elementor-element-68d917c3
  > .elementor-background-overlay {
  background-color: #ffffff;
  opacity: 0.42;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-29378 .elementor-element.elementor-element-68d917c3 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-29378
  .elementor-element.elementor-element-1714d40f.elementor-position-right
  .elementor-image-box-img {
  margin-left: 15px;
}
.elementor-29378
  .elementor-element.elementor-element-1714d40f.elementor-position-left
  .elementor-image-box-img {
  margin-right: 15px;
}
.elementor-29378
  .elementor-element.elementor-element-1714d40f.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 15px;
}
.elementor-29378
  .elementor-element.elementor-element-1714d40f
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 63%;
}
.elementor-29378
  .elementor-element.elementor-element-1714d40f
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}
.elementor-29378
  .elementor-element.elementor-element-1714d40f
  .elementor-image-box-title {
  margin-bottom: 15px;
  color: #555555;
  font-family: "Voces", Sans-serif;
  font-size: 26px;
  font-weight: 100;
  text-transform: none;
  line-height: 1em;
}
.elementor-29378
  .elementor-element.elementor-element-1714d40f
  .elementor-image-box-description {
  color: #555555;
  font-family: "Voces", Sans-serif;
  font-weight: 100;
}
.elementor-29378
  .elementor-element.elementor-element-76ea3dd9
  .elementor-spacer-inner {
  height: 15px;
}
.elementor-29378
  .elementor-element.elementor-element-96c044f
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-29378 .elementor-element.elementor-element-96c044f .elementor-icon i,
.elementor-29378
  .elementor-element.elementor-element-96c044f
  .elementor-icon
  svg {
  transform: rotate(0deg);
}
.elementor-29378
  .elementor-element.elementor-element-e5d25c5
  .elementor-button {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: inline-flex;
  font-family: "Yusei Magic", Sans-serif;
  font-weight: normal;
  fill: #ffffff;
  color: #ffffff;
  background-color: #b6b6b670;
  border-radius: 40px 40px 40px 40px;
}
.elementor-29378
  .elementor-element.elementor-element-d48cd8f:not(.elementor-motion-effects-element-type-background),
.elementor-29378
  .elementor-element.elementor-element-d48cd8f
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-29378 .elementor-element.elementor-element-d48cd8f {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-29378
  .elementor-element.elementor-element-d48cd8f
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-29378
  .elementor-element.elementor-element-2d828fb
  .elementor-spacer-inner {
  height: 40px;
}
.elementor-29378
  .elementor-element.elementor-element-2017265a:not(.elementor-motion-effects-element-type-background),
.elementor-29378
  .elementor-element.elementor-element-2017265a
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-29378 .elementor-element.elementor-element-2017265a {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-29378
  .elementor-element.elementor-element-2017265a
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-29378
  .elementor-element.elementor-element-29a5caaa:not(.elementor-motion-effects-element-type-background),
.elementor-29378
  .elementor-element.elementor-element-29a5caaa
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-29378 .elementor-element.elementor-element-29a5caaa {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-29378
  .elementor-element.elementor-element-29a5caaa
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-29378
  .elementor-element.elementor-element-4dd79b0b
  .elementor-spacer-inner {
  height: 40px;
}
.elementor-29378
  .elementor-element.elementor-element-5ddeaa8b:not(.elementor-motion-effects-element-type-background),
.elementor-29378
  .elementor-element.elementor-element-5ddeaa8b
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-29378 .elementor-element.elementor-element-5ddeaa8b {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-29378
  .elementor-element.elementor-element-5ddeaa8b
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-29378 .elementor-element.elementor-element-147fabac {
  column-gap: 0px;
  text-align: center;
  color: #555555;
  font-family: "Allura", Sans-serif;
  font-size: 45px;
  font-weight: 100;
  line-height: 1.3em;
}
.elementor-29378
  .elementor-element.elementor-element-b2502ea:not(.elementor-motion-effects-element-type-background),
.elementor-29378
  .elementor-element.elementor-element-b2502ea
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
  background-image: url("https://www.smartinvite.site/wp-content/uploads/2021/07/flower-6206231_1920-1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-29378
  .elementor-element.elementor-element-b2502ea
  > .elementor-background-overlay {
  background-color: #ffffff;
  opacity: 0.23;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-29378 .elementor-element.elementor-element-b2502ea {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-29378 .elementor-element.elementor-element-9ded8b6 {
  column-gap: 0px;
  text-align: center;
  color: #ab972d;
  font-family: "Allura", Sans-serif;
  font-size: 68px;
  font-weight: 100;
  line-height: 1.3em;
}
.elementor-29378 .elementor-element.elementor-element-7a726546 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-29378
  .elementor-element.elementor-element-7a726546
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-29378 .elementor-element.elementor-element-638d953f {
  column-gap: 0px;
  text-align: center;
  color: #555555;
  font-family: "Allura", Sans-serif;
  font-size: 45px;
  font-weight: 100;
  line-height: 1.3em;
}
.elementor-29378
  .elementor-element.elementor-element-9acafe1:not(.elementor-motion-effects-element-type-background),
.elementor-29378
  .elementor-element.elementor-element-9acafe1
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #b6b6b670;
  background-image: url("https://www.smartinvite.site/wp-content/uploads/2021/07/flower-6206230_1920.jpg");
}
.elementor-29378 .elementor-element.elementor-element-9acafe1 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-29378
  .elementor-element.elementor-element-9acafe1
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-29378
  .elementor-element.elementor-element-122547d1
  .elementor-spacer-inner {
  height: 50px;
}
.elementor-29378
  .elementor-element.elementor-element-c766b50.elementor-view-stacked
  .elementor-icon {
  background-color: #ab972d;
}
.elementor-29378
  .elementor-element.elementor-element-c766b50.elementor-view-framed
  .elementor-icon,
.elementor-29378
  .elementor-element.elementor-element-c766b50.elementor-view-default
  .elementor-icon {
  fill: #ab972d;
  color: #ab972d;
  border-color: #ab972d;
}
.elementor-29378
  .elementor-element.elementor-element-c766b50.elementor-position-right
  .elementor-icon-box-icon {
  margin-left: 15px;
}
.elementor-29378
  .elementor-element.elementor-element-c766b50.elementor-position-left
  .elementor-icon-box-icon {
  margin-right: 15px;
}
.elementor-29378
  .elementor-element.elementor-element-c766b50.elementor-position-top
  .elementor-icon-box-icon {
  margin-bottom: 15px;
}
.elementor-29378 .elementor-element.elementor-element-c766b50 .elementor-icon {
  font-size: 86px;
}
.elementor-29378
  .elementor-element.elementor-element-c766b50
  .elementor-icon
  i {
  transform: rotate(0deg);
}
.elementor-29378
  .elementor-element.elementor-element-c766b50
  .elementor-icon-box-title {
  color: #555555;
}
.elementor-29378
  .elementor-element.elementor-element-c766b50
  .elementor-icon-box-title,
.elementor-29378
  .elementor-element.elementor-element-c766b50
  .elementor-icon-box-title
  a {
  font-family: "Voces", Sans-serif;
  font-size: 25px;
  font-weight: 100;
}
.elementor-29378
  .elementor-element.elementor-element-5508b71a
  .elementor-spacer-inner {
  height: 50px;
}
.elementor-29378 .elementor-element.elementor-element-2004177 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-29378
  .elementor-element.elementor-element-2004177
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-29378 .elementor-element.elementor-element-cbbfc00 {
  column-gap: 0px;
  text-align: center;
  color: #555555;
  font-family: "Allura", Sans-serif;
  font-size: 45px;
  font-weight: 100;
  line-height: 1.3em;
}
.elementor-29378
  .elementor-element.elementor-element-6953e3d:not(.elementor-motion-effects-element-type-background),
.elementor-29378
  .elementor-element.elementor-element-6953e3d
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #b6b6b670;
  background-image: url("https://www.smartinvite.site/wp-content/uploads/2021/07/flower-6206233_1920.png");
  background-position: top right;
}
.elementor-29378 .elementor-element.elementor-element-6953e3d {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-29378
  .elementor-element.elementor-element-6953e3d
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-29378
  .elementor-element.elementor-element-d76843f
  .elementor-spacer-inner {
  height: 50px;
}
.elementor-29378
  .elementor-element.elementor-element-157100b.elementor-view-stacked
  .elementor-icon {
  background-color: #ab972d;
}
.elementor-29378
  .elementor-element.elementor-element-157100b.elementor-view-framed
  .elementor-icon,
.elementor-29378
  .elementor-element.elementor-element-157100b.elementor-view-default
  .elementor-icon {
  fill: #ab972d;
  color: #ab972d;
  border-color: #ab972d;
}
.elementor-29378
  .elementor-element.elementor-element-157100b.elementor-position-right
  .elementor-icon-box-icon {
  margin-left: 15px;
}
.elementor-29378
  .elementor-element.elementor-element-157100b.elementor-position-left
  .elementor-icon-box-icon {
  margin-right: 15px;
}
.elementor-29378
  .elementor-element.elementor-element-157100b.elementor-position-top
  .elementor-icon-box-icon {
  margin-bottom: 15px;
}
.elementor-29378 .elementor-element.elementor-element-157100b .elementor-icon {
  font-size: 86px;
}
.elementor-29378
  .elementor-element.elementor-element-157100b
  .elementor-icon
  i {
  transform: rotate(0deg);
}
.elementor-29378
  .elementor-element.elementor-element-157100b
  .elementor-icon-box-title {
  color: #555555;
}
.elementor-29378
  .elementor-element.elementor-element-157100b
  .elementor-icon-box-title,
.elementor-29378
  .elementor-element.elementor-element-157100b
  .elementor-icon-box-title
  a {
  font-family: "Voces", Sans-serif;
  font-size: 25px;
  font-weight: 100;
}
.elementor-29378
  .elementor-element.elementor-element-bc9c373
  .elementor-spacer-inner {
  height: 50px;
}
.elementor-29378 .elementor-element.elementor-element-cb03255 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-29378
  .elementor-element.elementor-element-cb03255
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-29378 .elementor-element.elementor-element-1266b14 {
  column-gap: 0px;
  text-align: center;
  color: #555555;
  font-family: "Allura", Sans-serif;
  font-size: 45px;
  font-weight: 100;
  line-height: 1.3em;
}
.elementor-29378
  .elementor-element.elementor-element-70b8cd5:not(.elementor-motion-effects-element-type-background),
.elementor-29378
  .elementor-element.elementor-element-70b8cd5
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #b6b6b670;
}
.elementor-29378 .elementor-element.elementor-element-70b8cd5 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-29378
  .elementor-element.elementor-element-70b8cd5
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-29378
  .elementor-element.elementor-element-aae050c
  .elementor-spacer-inner {
  height: 50px;
}
.elementor-29378
  .elementor-element.elementor-element-f8d2cdd.elementor-view-stacked
  .elementor-icon {
  background-color: #e0c539;
}
.elementor-29378
  .elementor-element.elementor-element-f8d2cdd.elementor-view-framed
  .elementor-icon,
.elementor-29378
  .elementor-element.elementor-element-f8d2cdd.elementor-view-default
  .elementor-icon {
  fill: #e0c539;
  color: #e0c539;
  border-color: #e0c539;
}
.elementor-29378
  .elementor-element.elementor-element-f8d2cdd.elementor-position-right
  .elementor-icon-box-icon {
  margin-left: 15px;
}
.elementor-29378
  .elementor-element.elementor-element-f8d2cdd.elementor-position-left
  .elementor-icon-box-icon {
  margin-right: 15px;
}
.elementor-29378
  .elementor-element.elementor-element-f8d2cdd.elementor-position-top
  .elementor-icon-box-icon {
  margin-bottom: 15px;
}
.elementor-29378 .elementor-element.elementor-element-f8d2cdd .elementor-icon {
  font-size: 62px;
}
.elementor-29378
  .elementor-element.elementor-element-f8d2cdd
  .elementor-icon
  i {
  transform: rotate(0deg);
}
.elementor-29378
  .elementor-element.elementor-element-f8d2cdd
  .elementor-icon-box-title {
  color: #555555;
}
.elementor-29378
  .elementor-element.elementor-element-f8d2cdd
  .elementor-icon-box-title,
.elementor-29378
  .elementor-element.elementor-element-f8d2cdd
  .elementor-icon-box-title
  a {
  font-family: "Voces", Sans-serif;
  font-size: 43px;
  font-weight: 100;
}
.elementor-29378
  .elementor-element.elementor-element-f8d2cdd
  .elementor-icon-box-description {
  color: #555555;
  font-family: "Voces", Sans-serif;
  font-size: 22px;
  font-weight: 100;
}
.elementor-29378
  .elementor-element.elementor-element-b4abcdc
  .elementor-spacer-inner {
  height: 50px;
}
.elementor-29378
  .elementor-element.elementor-element-badcbd8:not(.elementor-motion-effects-element-type-background),
.elementor-29378
  .elementor-element.elementor-element-badcbd8
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
  background-image: url("https://www.smartinvite.site/wp-content/uploads/2021/07/flower-6206232_1920.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-29378
  .elementor-element.elementor-element-badcbd8
  > .elementor-background-overlay {
  background-color: #ffffff;
  opacity: 0.51;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-29378 .elementor-element.elementor-element-badcbd8 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-29378 .elementor-element.elementor-element-157d46f {
  text-align: center;
  color: #555555;
  font-family: "Voces", Sans-serif;
  font-size: 18px;
  font-weight: 100;
}
.elementor-29378
  .elementor-element.elementor-element-b38a1b2
  .elementor-spacer-inner {
  height: 24px;
}
.elementor-29378
  .elementor-element.elementor-element-ed7c945
  .eael-creative-button-icon-right {
  margin-left: 9px;
}
.elementor-29378
  .elementor-element.elementor-element-ed7c945
  .eael-creative-button-icon-left {
  margin-right: 9px;
}
.elementor-29378
  .elementor-element.elementor-element-ed7c945
  .eael-creative-button--shikoba
  i {
  left: 9%;
}
.elementor-29378
  .elementor-element.elementor-element-ed7c945
  .eael-creative-button
  i {
  color: #5cc578;
  font-size: 39px;
}
.elementor-29378
  .elementor-element.elementor-element-ed7c945
  .eael-creative-button
  .creative-button-inner
  svg {
  fill: #5cc578;
}
.elementor-29378
  .elementor-element.elementor-element-ed7c945
  .eael-creative-button {
  color: #555555;
  background-color: #e0c53926;
  border-radius: 86px;
}
.elementor-29378
  .elementor-element.elementor-element-ed7c945
  .eael-creative-button
  svg {
  fill: #555555;
  width: 39px;
  height: 39px;
}
.elementor-29378
  .elementor-element.elementor-element-ed7c945
  .eael-creative-button.eael-creative-button--tamaya::before {
  color: #555555;
  background-color: #e0c53926;
}
.elementor-29378
  .elementor-element.elementor-element-ed7c945
  .eael-creative-button.eael-creative-button--tamaya::after {
  color: #555555;
  background-color: #e0c53926;
}
.elementor-29378
  .elementor-element.elementor-element-ed7c945
  .eael-creative-button.eael-creative-button--ujarak:hover {
  background-color: #e0c53926;
}
.elementor-29378
  .elementor-element.elementor-element-ed7c945
  .eael-creative-button.eael-creative-button--wayra:hover {
  background-color: #e0c53926;
}
.elementor-29378
  .elementor-element.elementor-element-ed7c945
  .eael-creative-button::before {
  border-radius: 86px;
}
.elementor-29378
  .elementor-element.elementor-element-ed7c945
  .eael-creative-button::after {
  border-radius: 86px;
}
.elementor-29378
  .elementor-element.elementor-element-ed7c945
  .eael-creative-button:hover
  i {
  color: #ffffff;
}
.elementor-29378
  .elementor-element.elementor-element-ed7c945
  .eael-creative-button:hover
  .creative-button-inner
  svg {
  fill: #ffffff;
}
.elementor-29378
  .elementor-element.elementor-element-ed7c945
  .eael-creative-button:hover
  .cretive-button-text {
  color: #555555;
}
.elementor-29378
  .elementor-element.elementor-element-ed7c945
  .eael-creative-button.eael-creative-button--winona::after {
  color: #555555;
}
.elementor-29378
  .elementor-element.elementor-element-ed7c945
  .eael-creative-button:hover {
  background-color: #e0c53926;
}
.elementor-29378
  .elementor-element.elementor-element-ed7c945
  .eael-creative-button.eael-creative-button--ujarak::before {
  background-color: #e0c53926;
}
.elementor-29378
  .elementor-element.elementor-element-ed7c945
  .eael-creative-button.eael-creative-button--wayra:hover::before {
  background-color: #e0c53926;
}
.elementor-29378
  .elementor-element.elementor-element-ed7c945
  .eael-creative-button.eael-creative-button--tamaya:hover {
  background-color: #e0c53926;
}
.elementor-29378
  .elementor-element.elementor-element-ed7c945
  .eael-creative-button.eael-creative-button--rayen::before {
  background-color: #e0c53926;
}
.elementor-29378
  .elementor-element.elementor-element-ed7c945
  .eael-creative-button-wrapper {
  justify-content: center;
}
.elementor-29378
  .elementor-element.elementor-element-ed7c945
  .eael-creative-button
  .cretive-button-text,
.elementor-29378
  .elementor-element.elementor-element-ed7c945
  .eael-creative-button--winona::after {
  font-family: "Voces", Sans-serif;
  font-size: 26px;
  font-weight: 100;
}
.elementor-29378
  .elementor-element.elementor-element-9bb9d93
  .elementor-spacer-inner {
  height: 49px;
}
.elementor-29378 .elementor-element.elementor-element-3a9ef15 {
  text-align: center;
  color: #555555;
  font-family: "Voces", Sans-serif;
  font-size: 18px;
  font-weight: 100;
}
.elementor-29378
  .elementor-element.elementor-element-8fbd4cc
  .elementor-spacer-inner {
  height: 50px;
}
.elementor-29378
  .elementor-element.elementor-element-026ea76
  .wpforms-field-container
  label.wpforms-field-label {
  font-family: "Voces", Sans-serif;
  font-weight: 400;
}
.elementor-29378 .elementor-element.elementor-element-026ea76 .wpforms-submit {
  display: block;
  width: 100%;
  border-radius: 61px 61px 61px 61px;
  background-color: #e0c53926;
}
.elementor-29378
  .elementor-element.elementor-element-40de29a
  .elementor-spacer-inner {
  height: 105px;
}
.elementor-29378
  .elementor-element.elementor-element-d6af89f
  .elementor-spacer-inner {
  height: 50px;
}
.elementor-29378
  .elementor-element.elementor-element-028623c:not(.elementor-motion-effects-element-type-background),
.elementor-29378
  .elementor-element.elementor-element-028623c
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-29378 .elementor-element.elementor-element-028623c {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-29378
  .elementor-element.elementor-element-028623c
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-29378
  .elementor-element.elementor-element-60f73df
  .elementor-spacer-inner {
  height: 60px;
}
.elementor-29378
  .elementor-element.elementor-element-793f676d:not(.elementor-motion-effects-element-type-background),
.elementor-29378
  .elementor-element.elementor-element-793f676d
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("./Regina.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-29378
  .elementor-element.elementor-element-793f676d
  > .elementor-background-overlay {
  background-color: #00000036;
  opacity: 0;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-29378 .elementor-element.elementor-element-793f676d {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 180px 0px 120px 0px;
}
.elementor-29378
  .elementor-element.elementor-element-793f676d
  > .elementor-shape-top
  svg {
  height: 173px;
}
.elementor-29378
  .elementor-element.elementor-element-793f676d
  > .elementor-shape-bottom
  svg {
  height: 155px;
}
.elementor-29378
  .elementor-element.elementor-element-d907b2a
  .elementor-spacer-inner {
  height: 600px;
}
.elementor-29378 .elementor-element.elementor-element-ecc4209 {
  column-gap: 0px;
  text-align: center;
  color: #ab972d;
  font-family: "Voces", Sans-serif;
  font-size: 38px;
  font-weight: 100;
  line-height: 1.3em;
}
.elementor-29378
  .elementor-element.elementor-element-c5e4b8a:not(.elementor-motion-effects-element-type-background),
.elementor-29378
  .elementor-element.elementor-element-c5e4b8a
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-29378 .elementor-element.elementor-element-c5e4b8a {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-29378
  .elementor-element.elementor-element-c5e4b8a
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-29378 .elementor-element.elementor-element-94a31c0 {
  column-gap: 0px;
  text-align: center;
  color: #585455;
  font-family: "Alata", Sans-serif;
  font-size: 22px;
  font-weight: 100;
  line-height: 1.3em;
}
.elementor-29378
  .elementor-element.elementor-element-d7896a2
  .ha-logo-grid-item {
  border-style: solid;
}
@media (max-width: 1024px) {
  .elementor-29378
    .elementor-element.elementor-element-793f676d
    > .elementor-shape-bottom
    svg {
    height: 34px;
  }
  .elementor-29378 .elementor-element.elementor-element-793f676d {
    padding: 110px 0px 60px 0px;
  }
}
@media (max-width: 767px) {
  .elementor-29378
    .elementor-element.elementor-element-661d053
    .elementor-spacer-inner {
    height: 10px;
  }
  .elementor-29378
    .elementor-element.elementor-element-1cdcb0d
    .elementor-spacer-inner {
    height: 285px;
  }
  .elementor-29378
    .elementor-element.elementor-element-b4bba0f
    .elementor-spacer-inner {
    height: 10px;
  }
  .elementor-29378
    .elementor-element.elementor-element-ae23e1f
    .elementor-spacer-inner {
    height: 10px;
  }
  .elementor-29378
    .elementor-element.elementor-element-439a1d8
    .elementor-spacer-inner {
    height: 10px;
  }
  .elementor-29378 .elementor-element.elementor-element-9f1c835 {
    text-align: center;
    font-size: 32px;
    line-height: 0.9em;
  }
  .elementor-29378
    .elementor-element.elementor-element-1ee9eea
    .elementor-spacer-inner {
    height: 10px;
  }
  .elementor-29378
    .elementor-element.elementor-element-81cb30b
    .elementor-spacer-inner {
    height: 10px;
  }
  .elementor-29378
    .elementor-element.elementor-element-af0e275
    .elementor-spacer-inner {
    height: 10px;
  }
  .elementor-29378 .elementor-element.elementor-element-0d34b04 {
    text-align: center;
    font-size: 36px;
  }
  .elementor-29378 .elementor-element.elementor-element-eb466ea {
    text-align: center;
    font-size: 41px;
  }
  .elementor-29378 .elementor-element.elementor-element-afb2bd5 {
    text-align: center;
    font-size: 18px;
  }
  .elementor-29378
    .elementor-element.elementor-element-37a033b
    .uc_countdown_amount {
    font-size: 22px;
  }
  .elementor-29378
    .elementor-element.elementor-element-37a033b
    .uc_countdown_period {
    font-size: 12px;
  }
  .elementor-29378 .elementor-element.elementor-element-31384848 {
    text-align: center;
    font-size: 34px;
  }
  .elementor-29378
    .elementor-element.elementor-element-68d917c3:not(.elementor-motion-effects-element-type-background),
  .elementor-29378
    .elementor-element.elementor-element-68d917c3
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-position: top right;
    background-size: 1000px auto;
  }
  .elementor-29378
    .elementor-element.elementor-element-1714d40f
    .elementor-image-box-img {
    margin-bottom: 15px;
  }
  .elementor-29378
    .elementor-element.elementor-element-1714d40f
    .elementor-image-box-title {
    font-size: 21px;
  }
  .elementor-29378 .elementor-element.elementor-element-147fabac {
    text-align: center;
    font-size: 36px;
  }
  .elementor-29378
    .elementor-element.elementor-element-b2502ea:not(.elementor-motion-effects-element-type-background),
  .elementor-29378
    .elementor-element.elementor-element-b2502ea
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-size: cover;
  }
  .elementor-29378 .elementor-element.elementor-element-9ded8b6 {
    text-align: center;
    font-size: 45px;
  }
  .elementor-29378 .elementor-element.elementor-element-638d953f {
    text-align: center;
    font-size: 36px;
  }
  .elementor-29378
    .elementor-element.elementor-element-c766b50
    .elementor-icon-box-icon {
    margin-bottom: 15px;
  }
  .elementor-29378 .elementor-element.elementor-element-cbbfc00 {
    text-align: center;
    font-size: 36px;
  }
  .elementor-29378
    .elementor-element.elementor-element-157100b
    .elementor-icon-box-icon {
    margin-bottom: 15px;
  }
  .elementor-29378 .elementor-element.elementor-element-1266b14 {
    text-align: center;
    font-size: 36px;
  }
  .elementor-29378
    .elementor-element.elementor-element-f8d2cdd
    .elementor-icon-box-icon {
    margin-bottom: 15px;
  }
  .elementor-29378
    .elementor-element.elementor-element-f8d2cdd
    .elementor-icon-box-title,
  .elementor-29378
    .elementor-element.elementor-element-f8d2cdd
    .elementor-icon-box-title
    a {
    font-size: 28px;
  }
  .elementor-29378
    .elementor-element.elementor-element-f8d2cdd
    .elementor-icon-box-description {
    font-size: 13px;
  }
  .elementor-29378
    .elementor-element.elementor-element-badcbd8:not(.elementor-motion-effects-element-type-background),
  .elementor-29378
    .elementor-element.elementor-element-badcbd8
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-position: center center;
    background-size: cover;
  }
  .elementor-29378
    .elementor-element.elementor-element-b38a1b2
    .elementor-spacer-inner {
    height: 10px;
  }
  .elementor-29378
    .elementor-element.elementor-element-9bb9d93
    .elementor-spacer-inner {
    height: 10px;
  }
  .elementor-29378
    .elementor-element.elementor-element-8fbd4cc
    .elementor-spacer-inner {
    height: 10px;
  }
  .elementor-29378
    .elementor-element.elementor-element-40de29a
    .elementor-spacer-inner {
    height: 10px;
  }
  .elementor-29378
    .elementor-element.elementor-element-793f676d:not(.elementor-motion-effects-element-type-background),
  .elementor-29378
    .elementor-element.elementor-element-793f676d
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .elementor-29378
    .elementor-element.elementor-element-793f676d
    > .elementor-shape-top
    svg {
    height: 40px;
  }
  .elementor-29378 .elementor-element.elementor-element-793f676d {
    padding: 100px 0px 60px 0px;
  }
  .elementor-29378
    .elementor-element.elementor-element-d907b2a
    .elementor-spacer-inner {
    height: 95px;
  }
  .elementor-29378 .elementor-element.elementor-element-ecc4209 {
    text-align: center;
  }
  .elementor-29378 .elementor-element.elementor-element-94a31c0 {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .elementor-29378 .elementor-element.elementor-element-419e13b {
    width: 19.315%;
  }
  .elementor-29378 .elementor-element.elementor-element-d230967 {
    width: 59.977%;
  }
  .elementor-29378 .elementor-element.elementor-element-98bab42 {
    width: 19.274%;
  }
  .elementor-29378 .elementor-element.elementor-element-325cc8c {
    width: 28.749%;
  }
  .elementor-29378 .elementor-element.elementor-element-d2b3acb {
    width: 42.728%;
  }
  .elementor-29378 .elementor-element.elementor-element-e0073d9 {
    width: 28.189%;
  }
}
@media (min-width: 1025px) {
  .elementor-29378
    .elementor-element.elementor-element-937a39f:not(.elementor-motion-effects-element-type-background),
  .elementor-29378
    .elementor-element.elementor-element-937a39f
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-attachment: scroll;
  }
  .elementor-29378
    .elementor-element.elementor-element-793f676d:not(.elementor-motion-effects-element-type-background),
  .elementor-29378
    .elementor-element.elementor-element-793f676d
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-attachment: scroll;
  }
}
